<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <main>
        <form class="register-form" method="post" action="{% url 'signup' %}" onsubmit="return PasswordValidate()">
            {% csrf_token %}
            <h1>Register</h1>
            <div>
                <label>First name</label>
                <input type="text" name="f_name" required>
            </div>

            <div>
                <label>Last Name</label>
                <input type="text" name="last_name" required>
            </div>

            <div>
                <label>E-mail</label>
                <input type="email" name="email" required>
            </div>

            <div>
                <label>Create Password</label>
                <input type="password" name="password" id="password" required>
            </div>

            <div>
                <label>Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password" required>
            </div>

            <div>
                <input type="submit" value="Register">
            </div>

        </form>
    </main>

    <script>
        function PasswordValidate(){
            let password=document.getElementById("password").value;
            let con_password=document.getElementById("confirm_password").value;
            if(password==con_password)
            {
              return true   
            }
            else{
                alert("Password Mismatch")
                return false
            }
        }
    </script>
</body>
</html>