{% extends 'base.html' %}

{% block title %}BookHive - All Book{% endblock %}
    
{% block content %}

{% for msg in messages %}
    <div class="alert alert-{{msg.tags}}" role="alert">
        {{msg}}
    </div>
{% endfor %}

<h1>All Books</h1>
<main>
    <div class="row list-books p-5">
    <!-- Books Cards -->
        {% for b in books %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img src="{{b.image.url}}" style="height: 300px;">
                <div>
                    <h3>{{b.book}}</h3>
                </div>
                <a href="{% url 'book_detail' b.slug %}">View Details</a>
            </div>
        </div>
        {% endfor %}
    <!-- Books Card End -->
    </div>
</main>

{% endblock %}