{% extends 'base.html' %}

{% block title %}BookHive - Author Detail{% endblock %}
    
{% block content %}

    {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}" role="alert">
            {{msg}}
        </div>
    {% endfor %}

    <div>
        <div>
            <img src="{{author.image.url}}" style="width: 200px;height: 250px;" alt="author image">
        </div>
        <div>
            <h2>{{author.name}}</h2>
            <p>{{author.place}}</p>
            <p>{{author.dob}}</p>
            <p>{{author.about}}</p>
            {% if request.user.profile.role == "manager" %}
            <a href="{% url 'edit_author' author.slug %}">Edit Author</a>
            <a href="{% url 'delete_author' author.slug %}" onclick="return confirmDelete()">Delete Author</a>
            {% endif %}
        </div>
    </div>
    <section id="author-books">
        <h1>Related Books</h1>
        {% if books %}
        <div class="row list-books p-5">
            <!-- Books Cards -->
                {% for b in books %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="{{b.image.url}}" style="height: 300px;">
                        <div>
                            <h3>{{b.book}}</h3>
                        </div>
                        <a href="{{b.get_absolute_url}}">View Details</a>
                    </div>
                </div>
                {% endfor %}
            <!-- Books Card End -->
            </div>

            {% else %}
                <p>No related books found</p>
            {% endif %}
        </section>

    <script>
        function confirmDelete(){
            let choice=confirm("Do you wish to delete {{author.name}} ?")
            return choice
        }
    </script>
{% endblock %}