{% extends 'base.html' %}

{% block title %}BookHive - All Authors{% endblock %}
    
{% block content %}
    <h1 class="heading">All Authors</h1>
    <main id="list-authors">
        <div class="authors-list">
            {% for writer in authors %}
                <div class="card">
                    <img src="{{writer.image.url}}">
                    <h4>{{writer.name}}</h4>
                    <p>{{writer.place}}</p>
                    <a href="{% url 'author_detail' writer.slug %}">View Detail</a>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}